aiodns==2.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.4.1
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.9.3
bleach==3.1.0
blis==0.7.4
catalogue==2.0.1
cchardet==2.1.7
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.1
contextvars==2.4
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dataclasses==0.8
decorator==4.4.1
defusedxml==0.6.0
elasticsearch==7.12.0
entrypoints==0.3
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.0.0/es_core_news_sm-3.0.0-py3-none-any.whl
fake-useragent==0.1.11
gensim==4.0.1
geographiclib==1.50
geopy==2.1.0
googletransx==2.4.2
idna==2.10
idna-ssl==1.1.0
immutables==0.15
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==2.2.8
jupyterlab-server==1.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
mpmath==1.1.0
multidict==5.1.0
murmurhash==1.0.5
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.0.2
numpy==1.17.2
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pathy==0.4.0
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.6.0
pluggy==0.13.1
preshed==3.0.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
py==1.8.1
pybinding==0.9.4
pycares==3.1.1
pycodestyle==2.5.0
pycparser==2.20
pydantic==1.7.3
Pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.2
pyrsistent==0.15.5
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.0
pytz==2019.3
pywin32==227
pywinpty==0.5.5
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.24.0
retrying==1.3.3
schedule==1.1.0
scikit-learn==0.24.1
scipy==1.3.3
Send2Trash==1.5.0
six==1.12.0
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.0
sympy==1.4
terminado==0.8.3
testpath==0.4.4
thinc==8.0.2
threadpoolctl==2.1.0
tornado==6.0.3
tqdm==4.41.0
traitlets==4.3.3
twint @ file:///C:/Users/lance/Dropbox/Extra/twint
typed-ast==1.4.0
typer==0.3.2
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==16.7.5
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.11.2
yarl==1.6.3
zipp==0.6.0
